venv
backend/venv
backend/__pycache__
backend/controllers/__pycache__
backend/models/__pycache__
backend/helpers/__pycache__
backend/prompts/__pycache__
backend/routes/__pycache__
backend/services/__pycache__
backend/tests/__pycache__
.vscode
frontend/node_modules
